/* for root */
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
/* ------------------ */
.titile{
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
    padding-left: 3.5em;
    top: 6.1rem;
}
.titile > a{
    text-decoration: none;
    color: white;
    text-decoration: none;
}
.titile > a >h2{
    background-color: #D72323;
    border-radius: 5px;
    padding-top: 12.5px;
    height: 60px;
    width: 170px;
    text-align: center;
}
/* ========= */
#img_one{
    position: relative;
    float: right;
    top: 4.2em;
    margin-right: 4em;
    border-radius: 10px;
}

/* locations sections */
#locations{
    margin-top: 4em;
}
#loca_map{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
#locations ol li{
    display: inline-block;
}
#locations ol li#info{
    background-color: wheat;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    position: relative;
    float: right;
    right: 3em;
    padding-left:5em ;
    padding-top: 5.5em;
}

